:root {
  --navbar-height: calc(clamp(40px, 12.5vh, 140px) + 3px);
  --filterbar-height: calc(8vh + 3px);
  --orderbar-height: calc(6vh + 3px);
}

a {
  color: inherit;          /* Faz o link herdar a cor do elemento pai (ex: preto, branco, etc.) */
  text-decoration: none;   /* Remove o sublinhado padrão */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f6f2;
  color: #63574e;
  font-family: system-ui, sans-serif;
}