.bar {
  box-sizing: border-box;

  padding: 3vh 1vh 3.5vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;

  z-index: 99;
  
  border-bottom: 4px solid #63574E;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.35);
  backdrop-filter: blur(4px);
}

.bar::before {
    content: '';
    position: absolute;
    inset: 0;              /* cobre toda a div */
    background-image: url("/assets/flags/GlassTexture.svg"); 
    background-size: auto;      /* Cobre toda a div */
    background-position: top; /* Centraliza */
    background-repeat: no-repeat; /* Não repete */
    opacity: 0.7;          /* aqui controla a opacidade */
    filter: brightness(0.9);
    z-index: 0;            /* fica atrás do conteúdo */
}

.mainRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.advancedRow {
  width: 100%;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  position: relative;
  z-index: 1;
}

.advancedRowOpen {
  max-height: 20vh;
  opacity: 1;
}

.advancedBtn {
  height: 1.5vh;

  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;

  border: solid transparent;

  background-color: transparent;
  color: #63574E;
  
  cursor: pointer;
}

.advancedBtn:hover {
  transform: scale(1.06) translateY(-2px); /* sobe um pouco */
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.75vh;
}