/*Sobrepor tela*/
.overlay {
    position: fixed;               /*Fixo na tela*/
    inset: 0;                      /*Ocupa toda a tela*/
    background: rgba(0,0,0,0.3);
    z-index: 100;                  /*Profundidade = 100*/
    opacity: 0; 
    animation: fadeIn 0.3s ease forwards; 
}

/*Animação FadeIn*/
@keyframes fadeIn {
    to { opacity: 1; } /*Final da animação, Opacidade: 1*/
}

/*Classe principal da Sidebar*/
.sidebar {
    position: fixed; /*Fixo na tela*/
    top: 0;          
    left: 0; /*Posiciona no Canto superior esquerdo*/

    height: 100vh;                    /*100% da altura da tela*/
    width: clamp(300px, 25vw, 500px);
    z-index: 101;                     /*Profundidade = 101; Acima do Overlay*/
    
    box-shadow: 4px 0 16px rgba(0,0,0,0.35);
    border: solid #63574E;
    border-radius: 50px;

    display: flex;                                                    /*Layout flexível*/
    flex-direction: column;                                           /*Alinhados verticalmente*/
    padding: clamp(1rem, 1.5vw, 1.5rem) clamp(0.8rem, 1.2vw, 1.2rem); /*Espaçamento interno responsivo*/
    
    transform: translateX(-100%); /*Move a sidebar para 100% à esquerda da tela*/
    transition: transform 0.5s;
}

.sidebar::before {
    content: '';
    position: absolute;
    inset: 0;              /* cobre toda a div */
    background-image: url("/assets/flags/GlassTexture.svg"); 
    background-size: fill;      /* Cobre toda a div */
    background-position: center; /* Centraliza */
    background-repeat: repeat; /* Não repete */
    opacity: 0.7;          /* aqui controla a opacidade */
    filter: brightness(0.9);
    z-index: 0;            /* fica atrás do conteúdo */
    border-radius: 50px;
}

/*Sidebar aberta*/
.sidebar.open {
    transform: translateX(0); /*Movimenta a sidebar para a tela*/
}

/*Estilos dos links de navegação*/
.navlink {
    composes:  glassHover pillText from './Glass.module.css';
    padding: clamp(0.4rem, 0.6vw, 0.6rem) clamp(0.5rem, 0.8vw, 0.8rem);
    border-radius: 16px;
    transition: background 0.5s; /*Animação de hover*/
    text-decoration: none;       /*Remove sublinhado do link*/
    font-weight: 600;
    font-size: clamp(14px, 1.25vw, 18px); 
    z-index: 1;
}

/* O botão agora fica dentro da sidebar e se move com ela */
.menuBtn {
    position: fixed; /*Fixo na tela*/
    top: clamp(8px, 1.25vh, 18px);
    left: clamp(8px, 1.25vh, 18px);
    z-index: 102;
    
    background-color: #F7F6F2;
    border: none;    /*Remove borda*/
    cursor: pointer; /*Ativa cursor de click*/
    
    width: clamp(44px, 10vh, 110px);
    height: clamp(44px, 10vh, 110px);
    border-radius: 50%;

    display: flex;
    align-items: center;     /*Centraliza a imagem*/
    justify-content: center;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.menuBtn.open {
    left: clamp(315px, calc(25vw + 15px), 515px); /*Distância da esquerda*/
    border-radius: 50%;
}