.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}

.sidebar {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 250px;
    z-index: 101;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.closeBtn {
    align-self: flex-end;
    background: none;
    border: none;
}

.navlink {
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    transition: background 0.2s;
}

.menuBtn {
    position: fixed;
    top: 1rem;
    left: 1.2rem;
    z-index: 99;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}