.container {
    display: flex;
    flex-direction: column;
    width: 48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    border-left: 4px solid #63574E;
}

.typeSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-top: 3px solid #63534E;
    border-bottom: 2px solid #63574E;
}

.typeSection:first-child {
    border-top: transparent;
}

.typeSection:last-child {
    border-bottom: transparent;
}

.primaryType {
    min-height: 90px;
}

.secondaryType {
    min-height: 44px;
}

.image {
    object-fit: contain;
}