.container {
    display: flex;
    flex-direction: column;
    width: 48px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    row-gap: 2;
}

.typeSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.primaryType {
    min-height: 90px;
}

.secondaryType {
    min-height: 44px;
}

.image {
    object-fit: contain;
}
